<?xml version="1.0" ?>
<robot name="rov" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find rov_description)/urdf/materials.xacro" />
<xacro:include filename="$(find rov_description)/urdf/rov.trans" />
<xacro:include filename="$(find rov_description)/urdf/rov.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-5.6904454281479577e-05 0.002259535915373094 -0.055056343609268456" rpy="0 0 0"/>
    <mass value="2.647880364444541"/>
    <inertia ixx="0.097024" iyy="0.140548" izz="0.237555" ixy="-1.6e-05" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="VerticalThrusterBeams_V7_v1__3__1">
  <inertial>
    <origin xyz="0.016970218305073115 -0.016970173279726886 0.11591472778502045" rpy="0 0 0"/>
    <mass value="0.20947204476435513"/>
    <inertia ixx="0.000871" iyy="0.000871" izz="4.9e-05" ixy="2.2e-05" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.28025 0.301231 0.054378" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/VerticalThrusterBeams_V7_v1__3__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.28025 0.301231 0.054378" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/VerticalThrusterBeams_V7_v1__3__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="VerticalThrusterBeams_V7_v1__2__1">
  <inertial>
    <origin xyz="0.01697021830510126 0.01697054739762352 0.11591472778502315" rpy="0 0 0"/>
    <mass value="0.20947204476435513"/>
    <inertia ixx="0.000871" iyy="0.000871" izz="4.9e-05" ixy="-2.2e-05" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.28025 -0.191105 0.054378" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/VerticalThrusterBeams_V7_v1__2__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.28025 -0.191105 0.054378" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/VerticalThrusterBeams_V7_v1__2__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="VerticalThrusterBeams_V7_v1_1">
  <inertial>
    <origin xyz="0.016970360338689428 -0.016971031246166945 0.11591472778502301" rpy="0 0 0"/>
    <mass value="0.20947204476435513"/>
    <inertia ixx="0.000871" iyy="0.000871" izz="4.9e-05" ixy="2.2e-05" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.246168 -0.225188 0.054378" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/VerticalThrusterBeams_V7_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.246168 -0.225188 0.054378" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/VerticalThrusterBeams_V7_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="VerticalThrusterBeams_V7_v1__1__1">
  <inertial>
    <origin xyz="0.01697036033866145 0.01697040536400729 0.11591472778502049" rpy="0 0 0"/>
    <mass value="0.20947204476435513"/>
    <inertia ixx="0.000871" iyy="0.000871" izz="4.9e-05" ixy="-2.2e-05" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.246168 0.335313 0.054378" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/VerticalThrusterBeams_V7_v1__1__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.246168 0.335313 0.054378" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/VerticalThrusterBeams_V7_v1__1__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="T200_v2__7__1">
  <inertial>
    <origin xyz="-0.041484995525996715 -0.026847398511978038 5.272863101965508e-06" rpy="0 0 0"/>
    <mass value="0.15063623141000587"/>
    <inertia ixx="0.000154" iyy="0.000156" izz="0.000141" ixy="-1.8e-05" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.26777 0.322691 -0.057622" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200_v2__7__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.26777 0.322691 -0.057622" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200_v2__7__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="T200_v2__1__1">
  <inertial>
    <origin xyz="0.04148557416975596 -0.026846819868221572 -5.421818513859367e-06" rpy="0 0 0"/>
    <mass value="0.15063623141000587"/>
    <inertia ixx="0.000154" iyy="0.000156" izz="0.000141" ixy="1.8e-05" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.267628 0.322833 -0.057622" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200_v2__1__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.267628 0.322833 -0.057622" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200_v2__1__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="T200_v2_1">
  <inertial>
    <origin xyz="-0.04148499545811157 0.026846772697733723 -5.421818510674414e-06" rpy="0 0 0"/>
    <mass value="0.15063623141000587"/>
    <inertia ixx="0.000154" iyy="0.000156" izz="0.000141" ixy="1.8e-05" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.26777 -0.212566 -0.057622" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.26777 -0.212566 -0.057622" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="T200_v2__4__1">
  <inertial>
    <origin xyz="0.04148557410187448 0.026847194053971513 5.2728631047480046e-06" rpy="0 0 0"/>
    <mass value="0.15063623141000587"/>
    <inertia ixx="0.000154" iyy="0.000156" izz="0.000141" ixy="-1.8e-05" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.267628 -0.212707 -0.057622" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200_v2__4__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.267628 -0.212707 -0.057622" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200_v2__4__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="T200_v2__5__1">
  <inertial>
    <origin xyz="0.03417021897769523 0.03416226511097392 -0.019850695382876038" rpy="0 0 0"/>
    <mass value="0.15063623141000587"/>
    <inertia ixx="0.000139" iyy="0.000139" izz="0.000173" ixy="-2e-06" iyz="1e-06" ixz="1e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.25879 0.313711 -0.107122" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200_v2__5__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.25879 0.313711 -0.107122" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200_v2__5__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="T200_v2__2__1">
  <inertial>
    <origin xyz="-0.03416207805203947 0.034169406036629324 -0.01985069538287583" rpy="0 0 0"/>
    <mass value="0.15063623141000587"/>
    <inertia ixx="0.000139" iyy="0.000139" izz="0.000173" ixy="2e-06" iyz="1e-06" ixz="-1e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.258648 0.313852 -0.107122" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200_v2__2__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.258648 0.313852 -0.107122" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200_v2__2__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="T200_v2__6__1">
  <inertial>
    <origin xyz="-0.03416964033393266 -0.034162469636867976 -0.019850695382873748" rpy="0 0 0"/>
    <mass value="0.15063623141000587"/>
    <inertia ixx="0.000139" iyy="0.000139" izz="0.000173" ixy="-2e-06" iyz="-1e-06" ixz="-1e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.258648 -0.203727 -0.107122" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200_v2__6__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.258648 -0.203727 -0.107122" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200_v2__6__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="T200_v2__3__1">
  <inertial>
    <origin xyz="0.03416265669580232 -0.034169453274998735 -0.019850695382873762" rpy="0 0 0"/>
    <mass value="0.15063623141000587"/>
    <inertia ixx="0.000139" iyy="0.000139" izz="0.000173" ixy="2e-06" iyz="-1e-06" ixz="1e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.25879 -0.203585 -0.107122" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200_v2__3__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.25879 -0.203585 -0.107122" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200_v2__3__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="ChassisTopPlate_V7_v1_1">
  <inertial>
    <origin xyz="-0.28057898123926245 -0.18201082719609715 0.0006796756645728319" rpy="0 0 0"/>
    <mass value="2.495845651345511"/>
    <inertia ixx="0.095334" iyy="0.139123" izz="0.234441" ixy="-0.00017" iyz="1e-06" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.280109 -0.191246 -0.169622" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/ChassisTopPlate_V7_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.280109 -0.191246 -0.169622" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/ChassisTopPlate_V7_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="T200Prop_v1_1">
  <inertial>
    <origin xyz="0.012365313819343415 -0.01236961207162901 1.968315707347179e-06" rpy="0 0 0"/>
    <mass value="0.008326303172342037"/>
    <inertia ixx="3e-06" iyy="3e-06" izz="2e-06" ixy="-1e-06" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.326937 0.336954 -0.057622" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200Prop_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.326937 0.336954 -0.057622" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200Prop_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="T200Prop_v1__2__1">
  <inertial>
    <origin xyz="0.012369391079475378 0.012364909064998736 1.9683157096161974e-06" rpy="0 0 0"/>
    <mass value="0.008326303172342037"/>
    <inertia ixx="3e-06" iyy="3e-06" izz="2e-06" ixy="1e-06" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.32487 -0.224762 -0.057622" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200Prop_v1__2__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.32487 -0.224762 -0.057622" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200Prop_v1__2__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="T200Prop_v1__1__1">
  <inertial>
    <origin xyz="-0.012365280651362887 0.012369862205586057 1.9683157093455805e-06" rpy="0 0 0"/>
    <mass value="0.008326303172342037"/>
    <inertia ixx="3e-06" iyy="3e-06" izz="2e-06" ixy="-1e-06" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.324729 -0.224903 -0.057622" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200Prop_v1__1__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.324729 -0.224903 -0.057622" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200Prop_v1__1__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="T200Prop_v1__3__1">
  <inertial>
    <origin xyz="-0.012369812367830857 -0.01236495623548678 1.9683157064520618e-06" rpy="0 0 0"/>
    <mass value="0.008326303172342037"/>
    <inertia ixx="3e-06" iyy="3e-06" izz="2e-06" ixy="1e-06" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.324729 0.335029 -0.057622" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200Prop_v1__3__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.324729 0.335029 -0.057622" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200Prop_v1__3__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="T200Prop_v1__4__1">
  <inertial>
    <origin xyz="4.0006286275429126e-07 -3.523306314867636e-06 0.017489959653166715" rpy="0 0 0"/>
    <mass value="0.008326303172342037"/>
    <inertia ixx="2e-06" iyy="2e-06" izz="3e-06" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.224141 0.279063 -0.06587" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200Prop_v1__4__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.224141 0.279063 -0.06587" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200Prop_v1__4__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="T200Prop_v1__5__1">
  <inertial>
    <origin xyz="4.000628633649139e-07 -3.5233063141737464e-06 0.017489959653168907" rpy="0 0 0"/>
    <mass value="0.008326303172342037"/>
    <inertia ixx="2e-06" iyy="2e-06" izz="3e-06" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.224141 -0.168937 -0.06587" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200Prop_v1__5__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.224141 -0.168937 -0.06587" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200Prop_v1__5__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="T200Prop_v1__6__1">
  <inertial>
    <origin xyz="8.214191013489192e-07 -4.101950076940142e-06 0.017489959653168977" rpy="0 0 0"/>
    <mass value="0.008326303172342037"/>
    <inertia ixx="2e-06" iyy="2e-06" izz="3e-06" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.224 -0.169079 -0.06587" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200Prop_v1__6__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.224 -0.169079 -0.06587" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200Prop_v1__6__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="T200Prop_v1__7__1">
  <inertial>
    <origin xyz="-3.710365249293135e-06 -1.0557164039082245e-06 0.017489959653166756" rpy="0 0 0"/>
    <mass value="0.008326303172342037"/>
    <inertia ixx="2e-06" iyy="2e-06" izz="3e-06" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.224 0.279204 -0.06587" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200Prop_v1__7__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.224 0.279204 -0.06587" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200Prop_v1__7__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="igusbearningbase_v1_1">
  <inertial>
    <origin xyz="-3.547380513283578e-17 1.870589348140772e-07 0.007881230057328437" rpy="0 0 0"/>
    <mass value="0.0480721636553659"/>
    <inertia ixx="3.1e-05" iyy="3.1e-05" izz="5.9e-05" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 0.103063 0.051878" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/igusbearningbase_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 0.103063 0.051878" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/igusbearningbase_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="igusbearningtop_v1_1">
  <inertial>
    <origin xyz="-5.993783775443743e-17 1.8705897096571444e-07 0.005240958470349631" rpy="0 0 0"/>
    <mass value="0.0663861004889516"/>
    <inertia ixx="8.4e-05" iyy="8.4e-05" izz="0.000167" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 0.103063 0.047878" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/igusbearningtop_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 0.103063 0.047878" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/igusbearningtop_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="ArmBasePlate_v1_1">
  <inertial>
    <origin xyz="5.144829189056676e-15 1.870589349250995e-07 0.0031749255222953757" rpy="0 0 0"/>
    <mass value="0.10474120539252829"/>
    <inertia ixx="0.000355" iyy="0.000195" izz="0.000549" ixy="0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 0.103063 0.035878" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/ArmBasePlate_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 0.103063 0.035878" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/ArmBasePlate_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Arm_Base_Back_Plate_v1_1">
  <inertial>
    <origin xyz="-2.1406090046397912e-17 -0.0031748129410668 0.0266889626123002" rpy="0 0 0"/>
    <mass value="0.04056908906002407"/>
    <inertia ixx="1e-05" iyy="5.8e-05" izz="4.9e-05" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 0.015563 0.029528" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/Arm_Base_Back_Plate_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 0.015563 0.029528" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/Arm_Base_Back_Plate_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="shoulderJoint_v1_1">
  <inertial>
    <origin xyz="0.06371362420431569 -0.04071132812017221 0.05468797980138958" rpy="0 0 0"/>
    <mass value="0.24661273990042115"/>
    <inertia ixx="0.000769" iyy="0.001147" izz="0.001441" ixy="3e-06" iyz="2.1e-05" ixz="-1e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.0635 0.066063 0.029528" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/shoulderJoint_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.0635 0.066063 0.029528" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/shoulderJoint_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="ArmShoulder_v1_1">
  <inertial>
    <origin xyz="0.06044575334915728 -0.0544702626243552 0.19001398927529556" rpy="0 0 0"/>
    <mass value="0.6959521995357091"/>
    <inertia ixx="0.011112" iyy="0.010823" izz="0.003852" ixy="-3.1e-05" iyz="0.003461" ixz="3e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.060325 0.155399 -0.045472" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/ArmShoulder_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.060325 0.155399 -0.045472" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/ArmShoulder_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="BevelGearTop_v1_1">
  <inertial>
    <origin xyz="1.8040256788420805e-14 -4.8431602672760476e-08 0.0017365276376592187" rpy="0 0 0"/>
    <mass value="0.268359934613969"/>
    <inertia ixx="5.9e-05" iyy="5.9e-05" izz="8.4e-05" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.003086 0.487454 -0.12486" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/BevelGearTop_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.003086 0.487454 -0.12486" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/BevelGearTop_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="BevelGearRight_v1_1">
  <inertial>
    <origin xyz="0.0075157596117449744 -4.843148970756772e-08 3.5682241399104253e-07" rpy="0 0 0"/>
    <mass value="0.1615477384857512"/>
    <inertia ixx="8.2e-05" iyy="4.9e-05" izz="4.9e-05" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.037783 0.487454 -0.090175" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/BevelGearRight_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.037783 0.487454 -0.090175" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/BevelGearRight_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="BevelGearLeft_v1_1">
  <inertial>
    <origin xyz="-0.007515776647756149 -4.843156414802152e-08 3.568224116318186e-07" rpy="0 0 0"/>
    <mass value="0.16154823300094023"/>
    <inertia ixx="8.2e-05" iyy="4.9e-05" izz="4.9e-05" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.031611 0.487454 -0.090175" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/BevelGearLeft_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.031611 0.487454 -0.090175" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/BevelGearLeft_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="CameraZED_v1_1">
  <inertial>
    <origin xyz="-0.00014792900642126268 -0.0377347034595403 -0.05604326869326999" rpy="0 0 0"/>
    <mass value="0.31543773466976427"/>
    <inertia ixx="0.000788" iyy="0.001927" izz="0.001694" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 0.150063 0.058228" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/CameraZED_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 0.150063 0.058228" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/CameraZED_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<!-- === Stereo camera scaffold attached to CameraZED_v1_1 === -->
<xacro:property name="zed_baseline" value="0.12"/> <!-- meters; adjust later -->

<link name="zed_left_cam_link">
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="0.001"/>
    <inertia ixx="1e-6" iyy="1e-6" izz="1e-6" ixy="0" ixz="0" iyz="0"/>
  </inertial>
</link>

<link name="zed_right_cam_link">
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="0.001"/>
    <inertia ixx="1e-6" iyy="1e-6" izz="1e-6" ixy="0" ixz="0" iyz="0"/>
  </inertial>
</link>

<!-- Left/right offsets: pick the axis that matches your ZED model orientation.
     Commonly baseline is along +Y/-Y in the camera body frame, but you can change later. -->
<joint name="zed_left_cam_joint" type="fixed">
  <parent link="CameraZED_v1_1"/>
  <child link="zed_left_cam_link"/>
  <origin xyz="${zed_baseline/2} -0.077 -0.056043" rpy="0 0 -1.5708"/>
</joint>

<joint name="zed_right_cam_joint" type="fixed">
  <parent link="CameraZED_v1_1"/>
  <child link="zed_right_cam_link"/>
  <origin xyz="-${zed_baseline/2} -0.077 -0.056043" rpy="0 0 -1.5708"/>
</joint>

<link name="zed_left_optical_frame"/>
<link name="zed_right_optical_frame"/>

<joint name="zed_left_optical_joint" type="fixed">
  <parent link="zed_left_cam_link"/>
  <child link="zed_left_optical_frame"/>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 -1.57079632679"/>
</joint>

<joint name="zed_right_optical_joint" type="fixed">
  <parent link="zed_right_cam_link"/>
  <child link="zed_right_optical_frame"/>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 -1.57079632679"/>
</joint>


<link name="CameraUSB_v1__1__1">
  <inertial>
    <origin xyz="0.05600860450193623 -0.011905813920191188 -0.02050751236847534" rpy="0 0 0"/>
    <mass value="0.11383217436720357"/>
    <inertia ixx="0.000138" iyy="0.000163" izz="0.000171" ixy="-2e-06" iyz="2.3e-05" ixz="-2e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.19467 0.362093 -0.170297" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/CameraUSB_v1__1__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.19467 0.362093 -0.170297" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/CameraUSB_v1__1__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="CameraUSB_v1_1">
  <inertial>
    <origin xyz="-0.024101663769358267 -0.01123978617139093 -0.04177963146642813" rpy="0 0 0"/>
    <mass value="0.11383217436720357"/>
    <inertia ixx="0.000181" iyy="0.000147" izz="0.000144" ixy="2e-05" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.18911 0.355404 -0.167122" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/CameraUSB_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.18911 0.355404 -0.167122" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/CameraUSB_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="FrontArm_v1_1">
  <inertial>
    <origin xyz="-0.045490204362997375 -0.11246854164621328 -0.10175599315925055" rpy="0 0 0"/>
    <mass value="0.42090374296931804"/>
    <inertia ixx="0.007083" iyy="0.006146" izz="0.002439" ixy="6e-06" iyz="-0.002163" ixz="1.7e-05"/>
  </inertial>
  <visual>
    <origin xyz="-0.044132 0.301979 -0.417647" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/FrontArm_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.044132 0.301979 -0.417647" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/FrontArm_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="DifferentialFrame_v1_1">
  <inertial>
    <origin xyz="0.036976752901442894 -4.843155987366288e-08 0.02107742200331042" rpy="0 0 0"/>
    <mass value="0.018718278848415766"/>
    <inertia ixx="1.1e-05" iyy="2.6e-05" izz="2.4e-05" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.040958 0.487454 -0.090175" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/DifferentialFrame_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.040958 0.487454 -0.090175" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/DifferentialFrame_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="CameraInsta360_v1_1">
  <inertial>
    <origin xyz="-2.142730437526552e-14 -4.909267437014364e-14 0.030723525857098644" rpy="0 0 0"/>
    <mass value="0.19504159403515295"/>
    <inertia ixx="0.000176" iyy="0.000176" izz="0.000111" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.22 0.06 -0.173472" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/CameraInsta360_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.22 0.06 -0.173472" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/CameraInsta360_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Ebox_v1_1">
  <inertial>
    <origin xyz="2.54663016414047e-14 -0.1275373129410657 0.08575268867711783" rpy="0 0 0"/>
    <mass value="2.95500253978019"/>
    <inertia ixx="0.034054" iyy="0.034054" izz="0.049082" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.0 -0.274937 0.051878" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/Ebox_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.0 -0.274937 0.051878" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/Ebox_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Rigid 1" type="fixed">
  <origin xyz="-0.28025 -0.301231 -0.054378" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="VerticalThrusterBeams_V7_v1__3__1"/>
</joint>

<joint name="Rigid 2" type="fixed">
  <origin xyz="-0.28025 0.191105 -0.054378" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="VerticalThrusterBeams_V7_v1__2__1"/>
</joint>

<joint name="Rigid 3" type="fixed">
  <origin xyz="0.246168 0.225188 -0.054378" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="VerticalThrusterBeams_V7_v1_1"/>
</joint>

<joint name="Rigid 4" type="fixed">
  <origin xyz="0.246168 -0.335313 -0.054378" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="VerticalThrusterBeams_V7_v1__1__1"/>
</joint>

<joint name="Rigid 5" type="fixed">
  <origin xyz="0.01248 -0.02146 0.112" rpy="0 0 0"/>
  <parent link="VerticalThrusterBeams_V7_v1__3__1"/>
  <child link="T200_v2__7__1"/>
</joint>

<joint name="Rigid 6" type="fixed">
  <origin xyz="0.02146 0.01248 0.112" rpy="0 0 0"/>
  <parent link="VerticalThrusterBeams_V7_v1__1__1"/>
  <child link="T200_v2__1__1"/>
</joint>

<joint name="Rigid 7" type="fixed">
  <origin xyz="0.01248 0.021461 0.112" rpy="0 0 0"/>
  <parent link="VerticalThrusterBeams_V7_v1__2__1"/>
  <child link="T200_v2_1"/>
</joint>

<joint name="Rigid 8" type="fixed">
  <origin xyz="0.02146 -0.012481 0.112" rpy="0 0 0"/>
  <parent link="VerticalThrusterBeams_V7_v1_1"/>
  <child link="T200_v2__4__1"/>
</joint>

<joint name="Rigid 9" type="fixed">
  <origin xyz="0.02146 -0.01248 0.1615" rpy="0 0 0"/>
  <parent link="VerticalThrusterBeams_V7_v1__3__1"/>
  <child link="T200_v2__5__1"/>
</joint>

<joint name="Rigid 10" type="fixed">
  <origin xyz="0.01248 0.021461 0.1615" rpy="0 0 0"/>
  <parent link="VerticalThrusterBeams_V7_v1__1__1"/>
  <child link="T200_v2__2__1"/>
</joint>

<joint name="Rigid 11" type="fixed">
  <origin xyz="0.01248 -0.021461 0.1615" rpy="0 0 0"/>
  <parent link="VerticalThrusterBeams_V7_v1_1"/>
  <child link="T200_v2__6__1"/>
</joint>

<joint name="Rigid 12" type="fixed">
  <origin xyz="0.02146 0.01248 0.1615" rpy="0 0 0"/>
  <parent link="VerticalThrusterBeams_V7_v1__2__1"/>
  <child link="T200_v2__3__1"/>
</joint>

<joint name="Rigid 13" type="fixed">
  <origin xyz="0.033941 -0.033942 0.224" rpy="0 0 0"/>
  <parent link="VerticalThrusterBeams_V7_v1_1"/>
  <child link="ChassisTopPlate_V7_v1_1"/>
</joint>

<joint name="FrontRightThrust" type="continuous">
  <origin xyz="-0.059167 -0.014263 0.0" rpy="0 0 0"/>
  <parent link="T200_v2__7__1"/>
  <child link="T200Prop_v1_1"/>
  <axis xyz="0.707107 -0.707107 -0.0"/>
</joint>

<joint name="BackRightThrust" type="continuous">
  <origin xyz="-0.0571 0.012196 0.0" rpy="0 0 0"/>
  <parent link="T200_v2_1"/>
  <child link="T200Prop_v1__2__1"/>
  <axis xyz="0.707107 0.707107 0.0"/>
</joint>

<joint name="BackLeftThrust" type="continuous">
  <origin xyz="0.057101 0.012196 0.0" rpy="0 0 0"/>
  <parent link="T200_v2__4__1"/>
  <child link="T200Prop_v1__1__1"/>
  <axis xyz="-0.707107 0.707107 0.0"/>
</joint>

<joint name="FrontLeftThrust" type="continuous">
  <origin xyz="0.057101 -0.012196 0.0" rpy="0 0 0"/>
  <parent link="T200_v2__1__1"/>
  <child link="T200Prop_v1__3__1"/>
  <axis xyz="-0.707107 -0.707107 -0.0"/>
</joint>

<joint name="TFrontRightThrust" type="continuous">
  <origin xyz="0.034649 0.034648 -0.041252" rpy="0 0 0"/>
  <parent link="T200_v2__5__1"/>
  <child link="T200Prop_v1__4__1"/>
  <axis xyz="0.0 -0.0 1.0"/>
</joint>

<joint name="TBackRightThrust" type="continuous">
  <origin xyz="0.034649 -0.034648 -0.041252" rpy="0 0 0"/>
  <parent link="T200_v2__3__1"/>
  <child link="T200Prop_v1__5__1"/>
  <axis xyz="0.0 -0.0 1.0"/>
</joint>

<joint name="TBackLeftThrust" type="continuous">
  <origin xyz="-0.034648 -0.034648 -0.041252" rpy="0 0 0"/>
  <parent link="T200_v2__6__1"/>
  <child link="T200Prop_v1__6__1"/>
  <axis xyz="0.0 -0.0 1.0"/>
</joint>

<joint name="TFrontLeftThrust" type="continuous">
  <origin xyz="-0.034648 0.034648 -0.041252" rpy="0 0 0"/>
  <parent link="T200_v2__2__1"/>
  <child link="T200Prop_v1__7__1"/>
  <axis xyz="0.0 -0.0 1.0"/>
</joint>

<joint name="arm0" type="continuous">
  <origin xyz="0.0 -0.103063 -0.051878" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="igusbearningbase_v1_1"/>
  <axis xyz="0.0 -0.0 1.0"/>
</joint>

<joint name="Rigid 23" type="fixed">
  <origin xyz="0.0 0.0 0.004" rpy="0 0 0"/>
  <parent link="igusbearningbase_v1_1"/>
  <child link="igusbearningtop_v1_1"/>
</joint>

<joint name="Rigid 24" type="fixed">
  <origin xyz="0.0 0.0 0.016" rpy="0 0 0"/>
  <parent link="igusbearningbase_v1_1"/>
  <child link="ArmBasePlate_v1_1"/>
</joint>

<joint name="Rigid 25" type="fixed">
  <origin xyz="0.0 0.0875 0.00635" rpy="0 0 0"/>
  <parent link="ArmBasePlate_v1_1"/>
  <child link="Arm_Base_Back_Plate_v1_1"/>
</joint>

<joint name="Rigid 26" type="fixed">
  <origin xyz="-0.0635 0.037 0.00635" rpy="0 0 0"/>
  <parent link="ArmBasePlate_v1_1"/>
  <child link="shoulderJoint_v1_1"/>
</joint>

<joint name="arm1" type="continuous">
  <origin xyz="0.003175 -0.089336 0.075" rpy="0 0 0"/>
  <parent link="shoulderJoint_v1_1"/>
  <child link="ArmShoulder_v1_1"/>
  <axis xyz="1.0 -0.0 -0.0"/>
</joint>

<joint name="BevelEnd" type="continuous">
  <origin xyz="0.037872 0.0 0.034685" rpy="0 0 0"/>
  <parent link="DifferentialFrame_v1_1"/>
  <child link="BevelGearTop_v1_1"/>
  <axis xyz="0.0 0.0 -1.0"/>
</joint>

<joint name="BevelRight" type="continuous">
  <origin xyz="0.003175 0.0 0.0" rpy="0 0 0"/>
  <parent link="DifferentialFrame_v1_1"/>
  <child link="BevelGearRight_v1_1"/>
  <axis xyz="1.0 -0.0 0.0"/>
</joint>

<joint name="BevelLeft" type="continuous">
  <origin xyz="0.072569 0.0 0.0" rpy="0 0 0"/>
  <parent link="DifferentialFrame_v1_1"/>
  <child link="BevelGearLeft_v1_1"/>
  <axis xyz="-1.0 0.0 -0.0"/>
</joint>

<joint name="ZEDSwivelLink" type="continuous">
  <origin xyz="0.0 -0.150063 -0.058228" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="CameraZED_v1_1"/>
  <axis xyz="-1.0 -0.0 0.0"/>
</joint>

<joint name="USBCam1(55.127)" type="fixed">
  <origin xyz="-0.474779 -0.553339 0.000675" rpy="0 0 0"/>
  <parent link="ChassisTopPlate_V7_v1_1"/>
  <child link="CameraUSB_v1__1__1"/>
</joint>

<joint name="USBCam2" type="fixed">
  <origin xyz="-0.090999 -0.54665 -0.0025" rpy="0 0 0"/>
  <parent link="ChassisTopPlate_V7_v1_1"/>
  <child link="CameraUSB_v1_1"/>
</joint>

<joint name="arm2" type="continuous">
  <origin xyz="0.104457 -0.14658 0.372175" rpy="0 0 0"/>
  <parent link="ArmShoulder_v1_1"/>
  <child link="FrontArm_v1_1"/>
  <axis xyz="-1.0 0.0 0.0"/>
</joint>

<joint name="BevelClampJoint" type="continuous">
  <origin xyz="-0.08509 -0.185475 -0.327472" rpy="0 0 0"/>
  <parent link="FrontArm_v1_1"/>
  <child link="DifferentialFrame_v1_1"/>
  <axis xyz="1.0 -0.0 0.0"/>
</joint>

<joint name="360camlinkneeds(85mmZ)" type="fixed">
  <origin xyz="-0.060109 -0.251246 0.00385" rpy="0 0 0"/>
  <parent link="ChassisTopPlate_V7_v1_1"/>
  <child link="CameraInsta360_v1_1"/>
</joint>

<!-- 85mm mount above the Insta360 body link -->
<link name="insta360_mount_85mm">
  <inertial>
    <!-- tiny inertial to avoid “no inertia” / weird physics edge cases -->
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="0.001"/>
    <inertia ixx="1e-6" iyy="1e-6" izz="1e-6" ixy="0" ixz="0" iyz="0"/>
  </inertial>
</link>

<joint name="insta360_mount_85mm_joint" type="fixed">
  <parent link="CameraInsta360_v1_1"/>
  <child link="insta360_mount_85mm"/>
  <!-- 85mm straight up in Z -->
  <origin xyz="0 0 0.085" rpy="0 0 0"/>
</joint>

<!-- Two camera “sensor links” attached at the mount point -->
<link name="insta360_frontcam_link"/>
<link name="insta360_backcam_link"/>

<joint name="insta360_frontcam_joint" type="fixed">
  <parent link="insta360_mount_85mm"/>
  <child link="insta360_frontcam_link"/>
  <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>

<joint name="insta360_backcam_joint" type="fixed">
  <parent link="insta360_mount_85mm"/>
  <child link="insta360_backcam_link"/>
  <!-- flip 180° yaw for the back lens -->
  <origin xyz="0 0 0" rpy="0 0 3.141592653589793"/>
</joint>

<joint name="Rigid 42" type="fixed">
  <origin xyz="0.0 0.274937 -0.051878" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="Ebox_v1_1"/>
</joint>

</robot>
