<?xml version="1.0" ?>
<robot name="rov" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find rov_description)/urdf/materials.xacro" />
<xacro:include filename="$(find rov_description)/urdf/rov.trans" />
<xacro:include filename="$(find rov_description)/urdf/rov.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-0.00884973146778553 -0.2071832362580056 0.0001594860889622284" rpy="0 0 0"/>
    <mass value="3.294247"/>
    <inertia ixx="0.151251" iyy="0.28825" izz="0.137021" ixy="0.0" iyz="-0.0" ixz="6.7e-05"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="VerticalThrusterSupportBeams_2">
  <inertial>
    <origin xyz="-0.00449028432226567 0.1047212706889887 -0.004490284322260396" rpy="0 0 0"/>
    <mass value="0.341030"/>
    <inertia ixx="0.001286" iyy="7.1e-05" izz="0.001286" ixy="0.0" iyz="0.0" ixz="3.1e-05"/>
  </inertial>
  <visual>
    <origin xyz="-0.243664 0.207 -0.243664" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/VerticalThrusterSupportBeams_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.243664 0.207 -0.243664" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/VerticalThrusterSupportBeams_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="VerticalThrusterSupportBeams_1">
  <inertial>
    <origin xyz="0.004490284322265392 0.1047212706889887 -0.004490284322267224" rpy="0 0 0"/>
    <mass value="0.341030"/>
    <inertia ixx="0.001286" iyy="7.1e-05" izz="0.001286" ixy="-0.0" iyz="0.0" ixz="-3.1e-05"/>
  </inertial>
  <visual>
    <origin xyz="0.243664 0.207 -0.243664" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/VerticalThrusterSupportBeams_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.243664 0.207 -0.243664" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/VerticalThrusterSupportBeams_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="VerticalThrusterSupportBeams_4">
  <inertial>
    <origin xyz="0.004490284322271526 0.10472127068898884 0.004490284322263699" rpy="0 0 0"/>
    <mass value="0.341030"/>
    <inertia ixx="0.001286" iyy="7.1e-05" izz="0.001286" ixy="-0.0" iyz="-0.0" ixz="3.1e-05"/>
  </inertial>
  <visual>
    <origin xyz="0.243664 0.207 0.243664" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/VerticalThrusterSupportBeams_4.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.243664 0.207 0.243664" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/VerticalThrusterSupportBeams_4.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="VerticalThrusterSupportBeams_3">
  <inertial>
    <origin xyz="-0.004490284322259119 0.10472127068898884 0.004490284322270055" rpy="0 0 0"/>
    <mass value="0.341030"/>
    <inertia ixx="0.001286" iyy="7.1e-05" izz="0.001286" ixy="0.0" iyz="-0.0" ixz="-3.1e-05"/>
  </inertial>
  <visual>
    <origin xyz="-0.243664 0.207 0.243664" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/VerticalThrusterSupportBeams_3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.243664 0.207 0.243664" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/VerticalThrusterSupportBeams_3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Handles_2">
  <inertial>
    <origin xyz="-0.08600000000000418 0.023514887456752447 0.0" rpy="0 0 0"/>
    <mass value="0.237318"/>
    <inertia ixx="3.9e-05" iyy="0.000228" izz="0.000264" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.086 -0.00635 0.318" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/Handles_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.086 -0.00635 0.318" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/Handles_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Handles_1">
  <inertial>
    <origin xyz="-0.08600000000000434 0.023514887456752447 0.0" rpy="0 0 0"/>
    <mass value="0.237318"/>
    <inertia ixx="3.9e-05" iyy="0.000228" izz="0.000264" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.086 -0.00635 -0.318" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/Handles_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.086 -0.00635 -0.318" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/Handles_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="propbackright_1">
  <inertial>
    <origin xyz="-0.012365898764221173 -3.2044554445498363e-06 -0.012368635677551754" rpy="0 0 0"/>
    <mass value="0.008653"/>
    <inertia ixx="3e-06" iyy="2e-06" izz="3e-06" ixy="0.0" iyz="-0.0" ixz="1e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.25586 0.102 -0.300764" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/propbackright_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.25586 0.102 -0.300764" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/propbackright_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="propbackleft_1">
  <inertial>
    <origin xyz="-0.01236878771037464 -3.2044554437726802e-06 0.012365746731409555" rpy="0 0 0"/>
    <mass value="0.008653"/>
    <inertia ixx="3e-06" iyy="2e-06" izz="3e-06" ixy="-0.0" iyz="-0.0" ixz="-1e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.25586 0.102 0.300764" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/propbackleft_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.25586 0.102 0.300764" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/propbackleft_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="propfrontleft_1">
  <inertial>
    <origin xyz="0.012365898764223893 -3.2044554439669692e-06 0.012368635677550976" rpy="0 0 0"/>
    <mass value="0.008653"/>
    <inertia ixx="3e-06" iyy="2e-06" izz="3e-06" ixy="-0.0" iyz="0.0" ixz="1e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.25586 0.102 0.300764" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/propfrontleft_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.25586 0.102 0.300764" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/propfrontleft_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="propfrontright_1">
  <inertial>
    <origin xyz="0.012368787710376472 -3.204455443467369e-06 -0.012365746731402838" rpy="0 0 0"/>
    <mass value="0.008653"/>
    <inertia ixx="3e-06" iyy="2e-06" izz="3e-06" ixy="0.0" iyz="0.0" ixz="-1e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.25586 0.102 -0.300764" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/propfrontright_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.25586 0.102 -0.300764" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/propfrontright_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="proptopfrontright_1">
  <inertial>
    <origin xyz="4.065704311606577e-06 0.017490034130872245 -4.6608003942405496e-07" rpy="0 0 0"/>
    <mass value="0.008653"/>
    <inertia ixx="2e-06" iyy="3e-06" izz="2e-06" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.200035 0.076752 -0.200035" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/proptopfrontright_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.200035 0.076752 -0.200035" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/proptopfrontright_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="proptopfrontleft_1">
  <inertial>
    <origin xyz="4.065704307693041e-06 0.01749003413087242 -1.1767581619970269e-06" rpy="0 0 0"/>
    <mass value="0.008653"/>
    <inertia ixx="2e-06" iyy="3e-06" izz="2e-06" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.200035 0.076752 0.200035" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/proptopfrontleft_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.200035 0.076752 0.200035" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/proptopfrontleft_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="proptopbackleft_1">
  <inertial>
    <origin xyz="3.3550261890058497e-06 0.01749003413087237 -1.176758154003421e-06" rpy="0 0 0"/>
    <mass value="0.008653"/>
    <inertia ixx="2e-06" iyy="3e-06" izz="2e-06" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.200035 0.076752 0.200035" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/proptopbackleft_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.200035 0.076752 0.200035" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/proptopbackleft_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="proptopbackright_1">
  <inertial>
    <origin xyz="3.3550261931969416e-06 0.017490034130872203 -4.660800397293663e-07" rpy="0 0 0"/>
    <mass value="0.008653"/>
    <inertia ixx="2e-06" iyy="3e-06" izz="2e-06" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.200035 0.076752 -0.200035" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/proptopbackright_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.200035 0.076752 -0.200035" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/proptopbackright_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Ebox_v1_1">
  <inertial>
    <origin xyz="0.1419635000000286 0.08575276315482112 0.12499300000000114" rpy="0 0 0"/>
    <mass value="7.975075"/>
    <inertia ixx="0.034054" iyy="0.049082" izz="0.034054" ixy="0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.233501 0.204 0.124993" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/Ebox_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.233501 0.204 0.124993" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/Ebox_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Rotation_ArmBasePlate_v1_1">
  <inertial>
    <origin xyz="-0.04500000000000731 0.09562846640758502 -4.999999958441026e-07" rpy="0 0 0"/>
    <mass value="0.194902"/>
    <inertia ixx="0.000871" iyy="0.000269" izz="0.001138" ixy="0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.335 0.204 0.052862" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/Rotation_ArmBasePlate_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.335 0.204 0.052862" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/Rotation_ArmBasePlate_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Rotation_ArmBasePlate_v1__1__1">
  <inertial>
    <origin xyz="-0.04500000000000837 0.09562846640758497 -4.999999957469581e-07" rpy="0 0 0"/>
    <mass value="0.194902"/>
    <inertia ixx="0.000871" iyy="0.000269" izz="0.001138" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.335 0.204 -0.052863" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/Rotation_ArmBasePlate_v1__1__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.335 0.204 -0.052863" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/Rotation_ArmBasePlate_v1__1__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="PillowBlockMount_v1_1">
  <inertial>
    <origin xyz="-0.016000000000067904 -0.025999999999988116 0.004395257122678596" rpy="0 0 0"/>
    <mass value="0.038613"/>
    <inertia ixx="8e-06" iyy="5e-06" izz="1.2e-05" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.306 0.076 0.049687" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/PillowBlockMount_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.306 0.076 0.049687" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/PillowBlockMount_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="PillowBlockMount_v1__1__1">
  <inertial>
    <origin xyz="0.016000000000073955 -0.0259999999999882 -0.004396257122670222" rpy="0 0 0"/>
    <mass value="0.038613"/>
    <inertia ixx="8e-06" iyy="5e-06" izz="1.2e-05" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.274 0.076 -0.049688" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/PillowBlockMount_v1__1__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.274 0.076 -0.049688" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/PillowBlockMount_v1__1__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="V4B_SupportPlate_v1_1">
  <inertial>
    <origin xyz="5.525922222582302e-07 -0.07493659975726129 5.001667301232637e-07" rpy="0 0 0"/>
    <mass value="0.085598"/>
    <inertia ixx="7.3e-05" iyy="1.6e-05" izz="8.9e-05" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.29 -0.0 0.011338" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/V4B_SupportPlate_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.29 -0.0 0.011338" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/V4B_SupportPlate_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="shoulder_1">
  <inertial>
    <origin xyz="-0.09414946806162938 6.653102950542056e-05 0.002887254879548433" rpy="0 0 0"/>
    <mass value="0.238329"/>
    <inertia ixx="0.000253" iyy="0.002317" izz="0.00222" ixy="0.0" iyz="-1e-06" ixz="1e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.29 0.102 0.014513" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/shoulder_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.29 0.102 0.014513" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/shoulder_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="elbow_1">
  <inertial>
    <origin xyz="0.036504021537288295 0.0010587831807864073 0.024711763155022364" rpy="0 0 0"/>
    <mass value="0.104132"/>
    <inertia ixx="2.9e-05" iyy="4e-05" izz="3.9e-05" ixy="-2e-06" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0825 0.102 0.018687" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/elbow_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0825 0.102 0.018687" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/elbow_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wrist_1">
  <inertial>
    <origin xyz="0.020570162349985127 0.0008209490871033537 -8.376397228182769e-05" rpy="0 0 0"/>
    <mass value="0.044156"/>
    <inertia ixx="4e-06" iyy="7e-06" izz="5e-06" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.1515 0.096 -0.005988" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/wrist_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.1515 0.096 -0.005988" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/wrist_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_claw_1">
  <inertial>
    <origin xyz="0.08354760410561307 -0.005972879878576573 -0.010043597389812697" rpy="0 0 0"/>
    <mass value="0.032267"/>
    <inertia ixx="1.3e-05" iyy="0.000195" izz="0.00019" ixy="-0.0" iyz="0.0" ixz="-6e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.1775 0.088 0.004012" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/left_claw_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.1775 0.088 0.004012" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/left_claw_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_claw_1">
  <inertial>
    <origin xyz="0.07566774937988974 -0.0059640260689888674 0.009495558359122119" rpy="0 0 0"/>
    <mass value="0.030533"/>
    <inertia ixx="1.2e-05" iyy="0.000193" izz="0.000188" ixy="0.0" iyz="-0.0" ixz="4e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.1775 0.088 -0.015988" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/right_claw_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.1775 0.088 -0.015988" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/right_claw_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="basefootprintobject_1">
  <inertial>
    <origin xyz="3.5334040280136793e-13 -0.0009999999999999731 1.5721235281038994e-15" rpy="0 0 0"/>
    <mass value="0.0005535274198121317"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 0.21035 -0.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/basefootprintobject_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 0.21035 -0.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/basefootprintobject_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="TopPlate_1">
  <inertial>
    <origin xyz="0.24782424120968954 0.00016204304487000198 -0.2467838984061316" rpy="0 0 0"/>
    <mass value="3.242845"/>
    <inertia ixx="0.166436" iyy="0.317863" izz="0.151449" ixy="-1.4e-05" iyz="-5e-06" ixz="-0.001482"/>
  </inertial>
  <visual>
    <origin xyz="0.243664 -0.003 -0.243664" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/TopPlate_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.243664 -0.003 -0.243664" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/TopPlate_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="T200_1">
  <inertial>
    <origin xyz="-0.02684279690594965 -0.00950557626176958 0.041487649225129264" rpy="0 0 0"/>
    <mass value="0.156158"/>
    <inertia ixx="0.000156" iyy="0.000141" izz="0.000154" ixy="0.0" iyz="0.0" ixz="1.8e-05"/>
  </inertial>
  <visual>
    <origin xyz="0.243664 0.0925 -0.243664" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.243664 0.0925 -0.243664" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="T200_2">
  <inertial>
    <origin xyz="0.03416973472258347 -0.019855474384367508 -0.03416184869756059" rpy="0 0 0"/>
    <mass value="0.156158"/>
    <inertia ixx="0.000139" iyy="0.000173" izz="0.000139" ixy="1e-06" iyz="-1e-06" ixz="2e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.234684 0.0355 -0.234684" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.234684 0.0355 -0.234684" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="T200_7">
  <inertial>
    <origin xyz="0.026842796905951205 -0.009494423738229812 0.04148764922513448" rpy="0 0 0"/>
    <mass value="0.156158"/>
    <inertia ixx="0.000156" iyy="0.000141" izz="0.000154" ixy="0.0" iyz="-0.0" ixz="-1.8e-05"/>
  </inertial>
  <visual>
    <origin xyz="-0.243664 0.0925 -0.243664" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200_7.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.243664 0.0925 -0.243664" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200_7.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="T200_3">
  <inertial>
    <origin xyz="-0.03416184869755892 -0.019855474384367487 -0.03416973472257842" rpy="0 0 0"/>
    <mass value="0.156158"/>
    <inertia ixx="0.000139" iyy="0.000173" izz="0.000139" ixy="-1e-06" iyz="-1e-06" ixz="-2e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.234684 0.0355 -0.234684" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200_3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.234684 0.0355 -0.234684" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200_3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="T200_8">
  <inertial>
    <origin xyz="0.026842796905956756 -0.009505576261768914 -0.041487649225126155" rpy="0 0 0"/>
    <mass value="0.156158"/>
    <inertia ixx="0.000156" iyy="0.000141" izz="0.000154" ixy="-0.0" iyz="-0.0" ixz="1.8e-05"/>
  </inertial>
  <visual>
    <origin xyz="-0.243664 0.0925 0.243664" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200_8.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.243664 0.0925 0.243664" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200_8.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="T200_4">
  <inertial>
    <origin xyz="-0.03416973472257784 -0.019855474384367307 0.034161848697562724" rpy="0 0 0"/>
    <mass value="0.156158"/>
    <inertia ixx="0.000139" iyy="0.000173" izz="0.000139" ixy="-1e-06" iyz="1e-06" ixz="2e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.234684 0.0355 0.234684" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200_4.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.234684 0.0355 0.234684" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200_4.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="T200_6">
  <inertial>
    <origin xyz="-0.0268427969059446 -0.009494423738229896 -0.04148764922513154" rpy="0 0 0"/>
    <mass value="0.156158"/>
    <inertia ixx="0.000156" iyy="0.000141" izz="0.000154" ixy="-0.0" iyz="0.0" ixz="-1.8e-05"/>
  </inertial>
  <visual>
    <origin xyz="0.243664 0.0925 0.243664" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200_6.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.243664 0.0925 0.243664" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200_6.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="T200_5">
  <inertial>
    <origin xyz="0.034161848697564196 -0.019855474384367335 0.03416973472258247" rpy="0 0 0"/>
    <mass value="0.156158"/>
    <inertia ixx="0.000139" iyy="0.000173" izz="0.000139" ixy="1e-06" iyz="1e-06" ixz="-2e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.234684 0.0355 0.234684" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200_5.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.234684 0.0355 0.234684" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find rov_description)/meshes/T200_5.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Rigid 1" type="fixed">
  <origin xyz="0.243664 -0.207 0.243664" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="VerticalThrusterSupportBeams_2"/>
</joint>

<joint name="Rigid 2" type="fixed">
  <origin xyz="-0.243664 -0.207 0.243664" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="VerticalThrusterSupportBeams_1"/>
</joint>

<joint name="Rigid 3" type="fixed">
  <origin xyz="-0.243664 -0.207 -0.243664" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="VerticalThrusterSupportBeams_4"/>
</joint>

<joint name="Rigid 4" type="fixed">
  <origin xyz="0.243664 -0.207 -0.243664" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="VerticalThrusterSupportBeams_3"/>
</joint>

<joint name="Rigid 17" type="fixed">
  <origin xyz="0.329664 0.00335 -0.561664" rpy="0 0 0"/>
  <parent link="TopPlate_1"/>
  <child link="Handles_2"/>
</joint>

<joint name="Rigid 18" type="fixed">
  <origin xyz="0.329664 0.00335 0.074336" rpy="0 0 0"/>
  <parent link="TopPlate_1"/>
  <child link="Handles_1"/>
</joint>

<joint name="backrightpropjoint" type="continuous">
  <origin xyz="-0.012196 -0.0095 0.0571" rpy="0 0 0"/>
  <parent link="T200_1"/>
  <child link="propbackright_1"/>
  <axis xyz="-0.707107 0.0 -0.707107"/>
</joint>

<joint name="backleftpropjoint" type="continuous">
  <origin xyz="-0.012196 -0.0095 -0.0571" rpy="0 0 0"/>
  <parent link="T200_6"/>
  <child link="propbackleft_1"/>
  <axis xyz="-0.707107 -0.0 0.707107"/>
</joint>

<joint name="frontleftpropjoint" type="continuous">
  <origin xyz="0.012196 -0.0095 -0.0571" rpy="0 0 0"/>
  <parent link="T200_8"/>
  <child link="propfrontleft_1"/>
  <axis xyz="0.707107 0.0 0.707107"/>
</joint>

<joint name="frontrightpropjoint" type="continuous">
  <origin xyz="0.012196 -0.0095 0.0571" rpy="0 0 0"/>
  <parent link="T200_7"/>
  <child link="propfrontright_1"/>
  <axis xyz="0.707107 -0.0 -0.707107"/>
</joint>

<joint name="topfrontrightpropjoint" type="continuous">
  <origin xyz="-0.034649 -0.041252 -0.034649" rpy="0 0 0"/>
  <parent link="T200_3"/>
  <child link="proptopfrontright_1"/>
  <axis xyz="-0.0 1.0 -0.0"/>
</joint>

<joint name="topfrontleftpropjoint" type="continuous">
  <origin xyz="-0.034649 -0.041252 0.034649" rpy="0 0 0"/>
  <parent link="T200_4"/>
  <child link="proptopfrontleft_1"/>
  <axis xyz="-0.0 1.0 0.0"/>
</joint>

<joint name="topbackleftpropjoint" type="continuous">
  <origin xyz="0.034649 -0.041252 0.034649" rpy="0 0 0"/>
  <parent link="T200_5"/>
  <child link="proptopbackleft_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="topbackrightpropjoint" type="continuous">
  <origin xyz="0.034649 -0.041252 -0.034649" rpy="0 0 0"/>
  <parent link="T200_2"/>
  <child link="proptopbackright_1"/>
  <axis xyz="0.0 1.0 -0.0"/>
</joint>

<joint name="Rigid 28" type="fixed">
  <origin xyz="-0.233501 -0.204 -0.124993" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="Ebox_v1_1"/>
</joint>

<joint name="Rigid 29" type="fixed">
  <origin xyz="0.335 -0.204 -0.052862" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="Rotation_ArmBasePlate_v1_1"/>
</joint>

<joint name="Rigid 30" type="fixed">
  <origin xyz="0.335 -0.204 0.052863" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="Rotation_ArmBasePlate_v1__1__1"/>
</joint>

<joint name="Rigid 31" type="fixed">
  <origin xyz="-0.029 0.128 0.003175" rpy="0 0 0"/>
  <parent link="Rotation_ArmBasePlate_v1_1"/>
  <child link="PillowBlockMount_v1_1"/>
</joint>

<joint name="Rigid 32" type="fixed">
  <origin xyz="-0.061 0.128 -0.003175" rpy="0 0 0"/>
  <parent link="Rotation_ArmBasePlate_v1__1__1"/>
  <child link="PillowBlockMount_v1__1__1"/>
</joint>

<joint name="Rigid 33" type="fixed">
  <origin xyz="0.533664 -0.003 -0.255002" rpy="0 0 0"/>
  <parent link="TopPlate_1"/>
  <child link="V4B_SupportPlate_v1_1"/>
</joint>

<joint name="shoulderjoint" type="continuous">
  <origin xyz="0.0 -0.102 -0.003175" rpy="0 0 0"/>
  <parent link="V4B_SupportPlate_v1_1"/>
  <child link="shoulder_1"/>
  <axis xyz="0.0 0.0 -1.0"/>
</joint>

<joint name="elbowjoint" type="continuous">
  <origin xyz="-0.2075 0.0 -0.004174" rpy="0 0 0"/>
  <parent link="shoulder_1"/>
  <child link="elbow_1"/>
  <axis xyz="0.0 -0.0 1.0"/>
</joint>

<joint name="wristjoint" type="continuous">
  <origin xyz="0.069 0.006 0.024675" rpy="0 0 0"/>
  <parent link="elbow_1"/>
  <child link="wrist_1"/>
  <axis xyz="1.0 -0.0 0.0"/>
</joint>

<joint name="leftclawjoint" type="continuous">
  <origin xyz="0.026 0.008 -0.01" rpy="0 0 0"/>
  <parent link="wrist_1"/>
  <child link="left_claw_1"/>
  <axis xyz="0.0 -1.0 0.0"/>
</joint>

<joint name="rightclawjoint" type="continuous">
  <origin xyz="0.026 0.008 0.01" rpy="0 0 0"/>
  <parent link="wrist_1"/>
  <child link="right_claw_1"/>
  <axis xyz="0.0 -1.0 0.0"/>
</joint>

<joint name="base_footprint" type="fixed">
  <origin xyz="0.0 -0.21035 0.0" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="basefootprintobject_1"/>
</joint>

<joint name="Rigid 40" type="fixed">
  <origin xyz="0.0 0.21 0.0" rpy="0 0 0"/>
  <parent link="VerticalThrusterSupportBeams_1"/>
  <child link="TopPlate_1"/>
</joint>

<joint name="Rigid 41" type="fixed">
  <origin xyz="0.0 0.1145 0.0" rpy="0 0 0"/>
  <parent link="VerticalThrusterSupportBeams_1"/>
  <child link="T200_1"/>
</joint>

<joint name="Rigid 42" type="fixed">
  <origin xyz="0.00898 0.1715 -0.00898" rpy="0 0 0"/>
  <parent link="VerticalThrusterSupportBeams_1"/>
  <child link="T200_2"/>
</joint>

<joint name="Rigid 43" type="fixed">
  <origin xyz="0.0 0.1145 0.0" rpy="0 0 0"/>
  <parent link="VerticalThrusterSupportBeams_2"/>
  <child link="T200_7"/>
</joint>

<joint name="Rigid 44" type="fixed">
  <origin xyz="-0.00898 0.1715 -0.00898" rpy="0 0 0"/>
  <parent link="VerticalThrusterSupportBeams_2"/>
  <child link="T200_3"/>
</joint>

<joint name="Rigid 45" type="fixed">
  <origin xyz="0.0 0.1145 0.0" rpy="0 0 0"/>
  <parent link="VerticalThrusterSupportBeams_3"/>
  <child link="T200_8"/>
</joint>

<joint name="Rigid 46" type="fixed">
  <origin xyz="-0.00898 0.1715 0.00898" rpy="0 0 0"/>
  <parent link="VerticalThrusterSupportBeams_3"/>
  <child link="T200_4"/>
</joint>

<joint name="Rigid 47" type="fixed">
  <origin xyz="0.0 0.1145 0.0" rpy="0 0 0"/>
  <parent link="VerticalThrusterSupportBeams_4"/>
  <child link="T200_6"/>
</joint>

<joint name="Rigid 48" type="fixed">
  <origin xyz="0.00898 0.1715 0.00898" rpy="0 0 0"/>
  <parent link="VerticalThrusterSupportBeams_4"/>
  <child link="T200_5"/>
</joint>

</robot>
