<?xml version="1.0" ?>
<robot name="teleoparm" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find teleoparm_description)/urdf/materials.xacro" />
<xacro:include filename="$(find teleoparm_description)/urdf/teleoparm.trans" />
<xacro:include filename="$(find teleoparm_description)/urdf/teleoparm.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="0.07113361231916689 0.09476516315892339 -0.07084274048346811" rpy="0 0 0"/>
    <mass value="10.050088451865955"/>
    <inertia ixx="0.018966" iyy="0.029715" izz="0.018993" ixy="-0.000273" iyz="0.000163" ixz="-0.00055"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find teleoparm_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find teleoparm_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="arm_1">
  <inertial>
    <origin xyz="-0.09419696889353948 0.048409979996170166 0.09419725322460598" rpy="0 0 0"/>
    <mass value="10.223679855950772"/>
    <inertia ixx="0.038111" iyy="0.055138" izz="0.038111" ixy="0.012244" iyz="-0.012244" ixz="0.023505"/>
  </inertial>
  <visual>
    <origin xyz="-0.026568 -0.11628 0.026568" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find teleoparm_description)/meshes/arm_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.026568 -0.11628 0.026568" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find teleoparm_description)/meshes/arm_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="elbow_1">
  <inertial>
    <origin xyz="-0.09266453430980306 0.04803747490879834 0.09248619733020741" rpy="0 0 0"/>
    <mass value="8.504893880781394"/>
    <inertia ixx="0.03526" iyy="0.052269" izz="0.03526" ixy="0.012318" iyz="-0.012318" ixz="0.023511"/>
  </inertial>
  <visual>
    <origin xyz="0.14521 -0.205032 -0.145388" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find teleoparm_description)/meshes/elbow_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.14521 -0.205032 -0.145388" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find teleoparm_description)/meshes/elbow_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wrist_1">
  <inertial>
    <origin xyz="-0.06918842137588355 0.03553583259281068 0.06919330086166792" rpy="0 0 0"/>
    <mass value="3.9800296871313745"/>
    <inertia ixx="0.007748" iyy="0.012423" izz="0.007747" ixy="0.002248" iyz="-0.002248" ixz="0.00293"/>
  </inertial>
  <visual>
    <origin xyz="0.331773 -0.301327 -0.331773" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find teleoparm_description)/meshes/wrist_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.331773 -0.301327 -0.331773" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find teleoparm_description)/meshes/wrist_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="imumount_v2_1">
  <inertial>
    <origin xyz="3.339349192721386e-07 0.0069197369262744 -3.342204968129203e-07" rpy="0 0 0"/>
    <mass value="0.04523287359850269"/>
    <inertia ixx="7e-06" iyy="1e-05" izz="5e-06" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.109 -0.135 0.0425" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find teleoparm_description)/meshes/imumount_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.109 -0.135 0.0425" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find teleoparm_description)/meshes/imumount_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="imumount_v2__1__1">
  <inertial>
    <origin xyz="-0.0016786051038998467 -0.006499573385011739 0.0016786627494195829" rpy="0 0 0"/>
    <mass value="0.04523287359850269"/>
    <inertia ixx="6e-06" iyy="1e-05" izz="6e-06" ixy="1e-06" iyz="-1e-06" ixz="1e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.024511 -0.094757 -0.024534" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find teleoparm_description)/meshes/imumount_v2__1__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.024511 -0.094757 -0.024534" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find teleoparm_description)/meshes/imumount_v2__1__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="imumount_v2__2__1">
  <inertial>
    <origin xyz="0.0016778641389492699 0.006500271204304187 -0.001678279430053664" rpy="0 0 0"/>
    <mass value="0.0452328735985027"/>
    <inertia ixx="6e-06" iyy="1e-05" izz="6e-06" ixy="1e-06" iyz="-1e-06" ixz="1e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.322799 -0.333323 -0.322782" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find teleoparm_description)/meshes/imumount_v2__2__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.322799 -0.333323 -0.322782" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find teleoparm_description)/meshes/imumount_v2__2__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="imumount_v2__3__1">
  <inertial>
    <origin xyz="-0.0016785080101048844 -0.0065000214064088735 0.0016789220036388386" rpy="0 0 0"/>
    <mass value="0.0452328735985027"/>
    <inertia ixx="6e-06" iyy="1e-05" izz="6e-06" ixy="1e-06" iyz="-1e-06" ixz="1e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.42284 -0.328241 -0.423282" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find teleoparm_description)/meshes/imumount_v2__3__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.42284 -0.328241 -0.423282" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find teleoparm_description)/meshes/imumount_v2__3__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="chestimu_1">
  <inertial>
    <origin xyz="1.545714944928278e-11 0.0006349999999999967 0.00018322645468379917" rpy="0 0 0"/>
    <mass value="0.005312650268367757"/>
    <inertia ixx="0.0" iyy="1e-06" izz="0.0" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.109 -0.147 0.0425" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find teleoparm_description)/meshes/chestimu_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.109 -0.147 0.0425" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find teleoparm_description)/meshes/chestimu_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="armimu_1">
  <inertial>
    <origin xyz="-3.207254554297989e-05 -0.0006590891662584669 3.265847350806747e-05" rpy="0 0 0"/>
    <mass value="0.005312650268367757"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.027422 -0.083485 -0.027444" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find teleoparm_description)/meshes/armimu_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.027422 -0.083485 -0.027444" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find teleoparm_description)/meshes/armimu_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="elbowimu_1">
  <inertial>
    <origin xyz="0.0002761782185269901 0.0005338651231845404 -0.00027612179207664456" rpy="0 0 0"/>
    <mass value="0.005312650268367757"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.319889 -0.344595 -0.319872" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find teleoparm_description)/meshes/elbowimu_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.319889 -0.344595 -0.319872" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find teleoparm_description)/meshes/elbowimu_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wristimu_1">
  <inertial>
    <origin xyz="-3.197597889953441e-05 -0.0006595370486346952 3.191773900140804e-05" rpy="0 0 0"/>
    <mass value="0.005312650268367757"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.425751 -0.316969 -0.426193" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find teleoparm_description)/meshes/wristimu_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.425751 -0.316969 -0.426193" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find teleoparm_description)/meshes/wristimu_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="shldrevolute" type="continuous">
  <origin xyz="0.026568 0.11628 -0.026568" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="arm_1"/>
  <axis xyz="-0.664211 0.342997 0.664211"/>
</joint>

<joint name="elbowrevolute" type="continuous">
  <origin xyz="-0.171778 0.088752 0.171956" rpy="0 0 0"/>
  <parent link="arm_1"/>
  <child link="elbow_1"/>
  <axis xyz="0.666371 -0.342996 -0.662045"/>
</joint>

<joint name="wristrevolute" type="continuous">
  <origin xyz="-0.186563 0.096295 0.186385" rpy="0 0 0"/>
  <parent link="elbow_1"/>
  <child link="wrist_1"/>
  <axis xyz="-0.664211 0.342997 0.664211"/>
</joint>

<joint name="Rigid 6" type="fixed">
  <origin xyz="0.109 0.135 -0.0425" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="imumount_v2_1"/>
</joint>

<joint name="Rigid 7" type="fixed">
  <origin xyz="-0.051079 -0.021523 0.051102" rpy="0 0 0"/>
  <parent link="arm_1"/>
  <child link="imumount_v2__1__1"/>
</joint>

<joint name="Rigid 8" type="fixed">
  <origin xyz="-0.177589 0.128291 0.177394" rpy="0 0 0"/>
  <parent link="elbow_1"/>
  <child link="imumount_v2__2__1"/>
</joint>

<joint name="Rigid 9" type="fixed">
  <origin xyz="-0.091067 0.026914 0.091509" rpy="0 0 0"/>
  <parent link="wrist_1"/>
  <child link="imumount_v2__3__1"/>
</joint>

<joint name="chestimu" type="fixed">
  <origin xyz="0.0 0.012 0.0" rpy="0 0 0"/>
  <parent link="imumount_v2_1"/>
  <child link="chestimu_1"/>
</joint>

<joint name="armimu" type="fixed">
  <origin xyz="-0.002911 -0.011272 0.00291" rpy="0 0 0"/>
  <parent link="imumount_v2__1__1"/>
  <child link="armimu_1"/>
</joint>

<joint name="elbowimu" type="fixed">
  <origin xyz="0.00291 0.011272 -0.00291" rpy="0 0 0"/>
  <parent link="imumount_v2__2__1"/>
  <child link="elbowimu_1"/>
</joint>

<joint name="wristimu" type="fixed">
  <origin xyz="-0.002911 -0.011272 0.002911" rpy="0 0 0"/>
  <parent link="imumount_v2__3__1"/>
  <child link="wristimu_1"/>
</joint>

</robot>
