<?xml version="1.0" ?>
<robot name="teleoparm" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find teleoparm_description)/urdf/materials.xacro" />
<xacro:include filename="$(find teleoparm_description)/urdf/teleoparm.trans" />
<xacro:include filename="$(find teleoparm_description)/urdf/teleoparm.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="0.07113361231916689 0.09476516315892339 -0.07084274048346811" rpy="0 0 0"/>
    <mass value="10.050088451865955"/>
    <inertia ixx="0.018966" iyy="0.029715" izz="0.018993" ixy="-0.000273" iyz="0.000163" ixz="-0.00055"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://teleoparm_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://teleoparm_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="imumount_v2_1">
  <inertial>
    <origin xyz="3.339349192721386e-07 0.0069197369262744 -3.342204968129203e-07" rpy="0 0 0"/>
    <mass value="0.04523287359850269"/>
    <inertia ixx="7e-06" iyy="1e-05" izz="5e-06" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.109 -0.135 0.0425" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://teleoparm_description/meshes/imumount_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.109 -0.135 0.0425" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://teleoparm_description/meshes/imumount_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="imumount_v2__1__1">
  <inertial>
    <origin xyz="-0.006919465678812485 5.86783745454289e-07 3.2970043303132135e-08" rpy="0 0 0"/>
    <mass value="0.04523287359850269"/>
    <inertia ixx="1e-05" iyy="5e-06" izz="7e-06" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.016716 -0.190488 0.028268" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://teleoparm_description/meshes/imumount_v2__1__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.016716 -0.190488 0.028268" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://teleoparm_description/meshes/imumount_v2__1__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="imumount_v2__2__1">
  <inertial>
    <origin xyz="0.006919508173724609 7.07822378265277e-07 -5.857178980994693e-07" rpy="0 0 0"/>
    <mass value="0.0452328735985027"/>
    <inertia ixx="1e-05" iyy="5e-06" izz="7e-06" ixy="-0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.062697 -0.668541 0.028296" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://teleoparm_description/meshes/imumount_v2__2__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.062697 -0.668541 0.028296" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://teleoparm_description/meshes/imumount_v2__2__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="imumount_v2__3__1">
  <inertial>
    <origin xyz="-0.00691946567881243 3.342204966116924e-07 5.626874578501528e-07" rpy="0 0 0"/>
    <mass value="0.0452328735985027"/>
    <inertia ixx="1e-05" iyy="5e-06" izz="7e-06" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.009284 -0.8 0.027972" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://teleoparm_description/meshes/imumount_v2__3__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.009284 -0.8 0.027972" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://teleoparm_description/meshes/imumount_v2__3__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="chestimu_1">
  <inertial>
    <origin xyz="1.545714944928278e-11 0.0006349999999999967 0.00018322645468379917" rpy="0 0 0"/>
    <mass value="0.005312650268367757"/>
    <inertia ixx="0.0" iyy="1e-06" izz="0.0" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.109 -0.147 0.0425" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://teleoparm_description/meshes/chestimu_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.109 -0.147 0.0425" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://teleoparm_description/meshes/chestimu_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="armimu_1">
  <inertial>
    <origin xyz="-0.000634728752538085 -0.00018297429674676846 -3.0058463838106286e-07" rpy="0 0 0"/>
    <mass value="0.005312650268367757"/>
    <inertia ixx="1e-06" iyy="0.0" izz="0.0" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.028716 -0.190488 0.028268" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://teleoparm_description/meshes/armimu_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.028716 -0.190488 0.028268" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://teleoparm_description/meshes/armimu_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="elbowimu_1">
  <inertial>
    <origin xyz="0.0006347712474503303 -0.00018285325811384645 -2.5216321629384364e-07" rpy="0 0 0"/>
    <mass value="0.005312650268367757"/>
    <inertia ixx="1e-06" iyy="0.0" izz="0.0" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.074697 -0.668541 0.028296" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://teleoparm_description/meshes/elbowimu_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.074697 -0.668541 0.028296" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://teleoparm_description/meshes/elbowimu_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wristimu_1">
  <inertial>
    <origin xyz="-0.0006347287525380269 -0.00018322645468393794 2.287679957552191e-07" rpy="0 0 0"/>
    <mass value="0.005312650268367757"/>
    <inertia ixx="1e-06" iyy="0.0" izz="0.0" ixy="-0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.002716 -0.8 0.027972" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://teleoparm_description/meshes/wristimu_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.002716 -0.8 0.027972" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://teleoparm_description/meshes/wristimu_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="arm_1">
  <inertial>
    <origin xyz="-0.00021910399897615354 0.14173858615056883 -7.019503666175209e-08" rpy="0 0 0"/>
    <mass value="10.223679855950772"/>
    <inertia ixx="0.061527" iyy="0.008217" izz="0.061616" ixy="-0.000182" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.028284 -0.13 0.028284" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://teleoparm_description/meshes/arm_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.028284 -0.13 0.028284" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://teleoparm_description/meshes/arm_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="elbow_1">
  <inertial>
    <origin xyz="0.00021789727738510956 0.13945610053009078 -0.0001265095280190906" rpy="0 0 0"/>
    <mass value="8.504893880781394"/>
    <inertia ixx="0.058727" iyy="0.005291" izz="0.058771" ixy="-0.000266" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.028284 -0.388754 0.028158" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://teleoparm_description/meshes/elbow_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.028284 -0.388754 0.028158" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://teleoparm_description/meshes/elbow_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wrist_1">
  <inertial>
    <origin xyz="-0.00018197406093689236 0.10410271217210565 3.1790700250715342e-06" rpy="0 0 0"/>
    <mass value="3.9800296871313745"/>
    <inertia ixx="0.013577" iyy="0.003664" izz="0.010677" ixy="1.9e-05" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.028284 -0.6695 0.028284" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://teleoparm_description/meshes/wrist_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.028284 -0.6695 0.028284" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://teleoparm_description/meshes/wrist_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Rigid 6" type="fixed">
  <origin xyz="0.109 0.135 -0.0425" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="imumount_v2_1"/>
</joint>

<joint name="Rigid 7" type="fixed">
  <origin xyz="-0.045 0.060488 1.6e-05" rpy="0 0 0"/>
  <parent link="arm_1"/>
  <child link="imumount_v2__1__1"/>
</joint>

<joint name="Rigid 8" type="fixed">
  <origin xyz="0.034413 0.279787 -0.000138" rpy="0 0 0"/>
  <parent link="elbow_1"/>
  <child link="imumount_v2__2__1"/>
</joint>

<joint name="Rigid 9" type="fixed">
  <origin xyz="-0.019 0.1305 0.000312" rpy="0 0 0"/>
  <parent link="wrist_1"/>
  <child link="imumount_v2__3__1"/>
</joint>

<joint name="chestimu" type="fixed">
  <origin xyz="0.0 0.012 0.0" rpy="0 0 0"/>
  <parent link="imumount_v2_1"/>
  <child link="chestimu_1"/>
</joint>

<joint name="armimu" type="fixed">
  <origin xyz="-0.012 0.0 0.0" rpy="0 0 0"/>
  <parent link="imumount_v2__1__1"/>
  <child link="armimu_1"/>
</joint>

<joint name="elbowimu" type="fixed">
  <origin xyz="0.012 0.0 0.0" rpy="0 0 0"/>
  <parent link="imumount_v2__2__1"/>
  <child link="elbowimu_1"/>
</joint>

<joint name="wristimu" type="fixed">
  <origin xyz="-0.012 0.0 0.0" rpy="0 0 0"/>
  <parent link="imumount_v2__3__1"/>
  <child link="wristimu_1"/>
</joint>

<!-- Ball joint for shoulder: 3 DOF -->
<link name="shldr_virtual_1">
  <inertial>
    <mass value="0.001"/>
    <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
  </inertial>
</link>

<link name="shldr_virtual_2">
  <inertial>
    <mass value="0.001"/>
    <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
  </inertial>
</link>

<joint name="shldrevolute_roll" type="continuous">
  <origin xyz="0.028284 0.13 -0.028284" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="shldr_virtual_1"/>
  <axis xyz="0 1 0"/>
</joint>

<joint name="shldrevolute_pitch" type="continuous">
  <origin xyz="0 0 0" rpy="0 0 0"/>
  <parent link="shldr_virtual_1"/>
  <child link="shldr_virtual_2"/>
  <axis xyz="1 0 0"/>
</joint>

<joint name="shldrevolute_yaw" type="continuous">
  <origin xyz="0 0 0" rpy="0 0 0"/>
  <parent link="shldr_virtual_2"/>
  <child link="arm_1"/>
  <axis xyz="0 0 1"/>
</joint>

<!-- Ball joint for elbow: 3 DOF -->
<link name="elbow_virtual_1">
  <inertial>
    <mass value="0.001"/>
    <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
  </inertial>
</link>

<link name="elbow_virtual_2">
  <inertial>
    <mass value="0.001"/>
    <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
  </inertial>
</link>

<joint name="elbowrevolute_roll" type="continuous">
  <origin xyz="0.0 0.258754 0.000126" rpy="0 0 0"/>
  <parent link="arm_1"/>
  <child link="elbow_virtual_1"/>
  <axis xyz="0 1 0"/>
</joint>

<joint name="elbowrevolute_pitch" type="continuous">
  <origin xyz="0 0 0" rpy="0 0 0"/>
  <parent link="elbow_virtual_1"/>
  <child link="elbow_virtual_2"/>
  <axis xyz="1 0 0"/>
</joint>

<joint name="elbowrevolute_yaw" type="continuous">
  <origin xyz="0 0 0" rpy="0 0 0"/>
  <parent link="elbow_virtual_2"/>
  <child link="elbow_1"/>
  <axis xyz="0 0 1"/>
</joint>

<!-- Ball joint for wrist: 3 DOF -->
<link name="wrist_virtual_1">
  <inertial>
    <mass value="0.001"/>
    <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
  </inertial>
</link>

<link name="wrist_virtual_2">
  <inertial>
    <mass value="0.001"/>
    <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
  </inertial>
</link>

<joint name="wristrevolute_roll" type="continuous">
  <origin xyz="0.0 0.280746 -0.000126" rpy="0 0 0"/>
  <parent link="elbow_1"/>
  <child link="wrist_virtual_1"/>
  <axis xyz="0 1 0"/>
</joint>

<joint name="wristrevolute_pitch" type="continuous">
  <origin xyz="0 0 0" rpy="0 0 0"/>
  <parent link="wrist_virtual_1"/>
  <child link="wrist_virtual_2"/>
  <axis xyz="1 0 0"/>
</joint>

<joint name="wristrevolute_yaw" type="continuous">
  <origin xyz="0 0 0" rpy="0 0 0"/>
  <parent link="wrist_virtual_2"/>
  <child link="wrist_1"/>
  <axis xyz="0 0 1"/>
</joint>

</robot>
